# Django framework
Django>=4.2
dj-database-url>=2.1.0
python-decouple>=3.8
whitenoise>=6.6.0
gunicorn>=21.2.0
Unipath>=1.1

# Database
psycopg2-binary>=2.9.9

# Telegram Bot
python-telegram-bot[job-queue]>=20.7

# Utilities
requests>=2.31.0
pytz>=2024.1
openpyxl>=3.1.2
pyjwt>=2.8.0